# Pandas Data Structures

### Series - One dimensional list with labels (index)

In [2]:
import pandas as pd

In [3]:
t = pd.Series([45,89,76,88,3,94,66])
type(t)

pandas.core.series.Series

In [6]:
print(t)

0    45
1    89
2    76
3    88
4     3
5    94
6    66
dtype: int64

In [8]:
s2 = pd.Series([1,2,3], index = ["ABC", "EFG", "XYZ"])    #custom index
s2
s2["EFG"]

2

### DataFrame â€” 2D Labeled Table

In [5]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [9]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df.columns

Index(['name', 'age', 'city'], dtype='object')